/* 공통적인 색상 및 크기 */
:root {
    --background-color: #ffd54f;
    --navbar-color: #ffab00;
    --font-color: #0d1e2d;
    --big-size: 50px;
    --mid-size: 35px;
    --small-size: 20px;
    --micro-size: 10px;

}

/* 첫 화면 */
* {
    background-color: var(--background-color);
    font-family: "Raleway", sans-serif;
    color: var(--font-color);
}

