/* 공통적인 색상 및 크기 */
:root {
    --background-color: #ffd54f;
    --navbar-color: #ffab00;
    --font-color: #0d1e2d;
    --big-size: 50px;
    --mid-size: 35px;
    --small-size: 20px;
    --micro-size: 10px;
    --image-width: 300px;
    --image-height: 200px;

}

/* 첫 화면 */
* {
    background-color: var(--background-color);
    font-family: "Raleway", sans-serif;
    color: var(--font-color);
}

a {
    font-size: var(--mid-size);
    text-decoration-line: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: flex-end;
}

img.masonry-content {
    width: var(--image-width);
    height: var(--image-height);
}