/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

/* 원래 코드 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 main, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 
 article, aside, details, figcaption, figure,
 footer, header, hgroup, main, menu, nav, section {
   display: block;
 }
 
 body {
   line-height: 1.618;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 ol, ul {
   list-style: none;
 }
 
 blockquote, q {
   quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 a {
   text-decoration: none;
 }
 
 code, pre, samp {
   font-family: monospace;
 }
 
 img, video {
   max-width: 100%;
   vertical-align: middle;
 }
 
 p:not(:last-child) {
   margin: 0 0 1em;
 }
 
 h1, h2, h3, h4 {
   margin: .5em 0 .75em;
   line-height: 1.3;
 }
 
 h1 {
   font-size: 1.5em;
 }
 
 h2 {
   font-size: 1.25em;
 }
 
 h3 {
   font-size: 1.125em;
 }
 
 h4 {
   font-size: 1em;
 }
 
 html {
   box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }
 .wrapper { 
   max-width: 1280px;
   margin-right: auto;
   margin-left: auto;
   padding: 1.5em;
 }
 .masonry-wrapper {
   margin-top: 100px;
   padding: 1.5em;
   max-width: 960px;
   margin-right: auto;
   margin-left: auto;
 }
 .masonry {
   display: grid;
   grid-template-columns: repeat(1, minmax(100px,1fr));
   grid-gap: 30px;
   grid-auto-rows: 0;
 }
 @media only screen and (max-width: 1023px) and (min-width: 768px) {
   .masonry {
     grid-template-columns: repeat(2, minmax(100px,1fr));
   }
 }
 @media only screen and (min-width: 1024px) {
   .masonry {
     grid-template-columns: repeat(3, minmax(100px,1fr));
   }
 }
 .masonry-item, .masonry-content, .masonry-content > div {
   border-radius: 4px;
 }
 .masonry-item{
   transition: filter .25s ease-in-out;
   margin-bottom: 20px;
 }
 .masonry-content > div{
   margin-bottom: 20px;
 }
 .masonry-item > .masonry-content{
   transition: filter .25s ease-in-out;
   filter:grayscale(80%)
 }

 .masonry-item > .masonry-content:hover{
   filter:grayscale(0);
   cursor: pointer;
 }
 .masonry-item--gigante{
   width:500px;
   height:400px;
 }



/* 지연 추가 부분*/
* {
  background-color: #ffd54f;
}

head {
  background-color: #ffab00;
}