pymysql
pandas
pytube
sqlalchemy
selenium
beautifulsoup4
scikit-learn
scikit-criteria
sentence-transformers
fake-useragent
langdetect
urllib3==1.25.11
google-api-client
google-api-python-client
konlpy
PyKomoran
tweepy
pyvis
gensim
python-twitter